body {
  background-color: f9f7fe;
}

.app {
  background-color: lightblue;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 10px 20px 120px 20px;
}

h1 {
  color: red;
}

footer {
}
