body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+56,de47ac+100 */
  background: linear-gradient(
    to bottom,
    #cb60b3 0%,
    #ad1283 56%,
    #de47ac 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.app {
  background-color: #fccdff;
  box-shadow: 7px 10px 6px rgb(131, 132, 133);
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 10px 20px 12px 20px;
}

.search-form {
  display: block;
  margin: 20px auto;
}

.search-input {
  background-color: #9acdee;
  box-shadow: 3px 7px 1px;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.search-button {
  background-color: #a8a8a8;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  width: 10%;
  padding: 8px;
  margin-bottom: 10px;
}

div {
  margin: 20px auto;
}

footer {
  border-top: 1px soid #f9f7fe;
  text-align: center;
  padding-top: 200px;
}
