body {
  background-color: #838b83;
  font-family: "Oswald", sans-serif;
}

.app {
  background-color: #faf7fa;
  background: linear-gradient(
    to bottom,
    #d8e0de 0%,
    #aebfbc 22%,
    #99afab 33%,
    #8ea6a2 50%,
    #829d98 67%,
    #4e5c5a 82%,
    #0e0e0e 100%
  );
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 10px 20px 12px 20px;
}

.search-form {
  display: block;
  margin: 20px auto;
}

.search-input {
  background-color: #9acdee;
  box-shadow: 3px 7px 1px;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
  margin-bottom: 10px;
}

.search-button {
  background-color: #a8a8a8;
  box-shadow: 3px 7px 1px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  width: 10%;
  padding: 11px;
  margin: 15px auto;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  background-color: black;
  cursor: pointer;
}

header {
  border-bottom: 5px solid rgb(131, 132, 133);
  margin: 15px;
}

.weather-app-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.weather-data {
  margin-trim: 10px;
}

.weather-data h1 {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.temperature {
  font-size: 70px;
}

.weather-data .weather-description {
  font-size: 15px;
}

footer {
  color: #cbcecd;
  border-top: 1px soid #f9f7fe;
  text-align: center;
  padding-top: 20px;
}
